Cwiczenia/cw1/zadanie na ćwiczenia 1.pdf
Cwiczenia/cw1/zadanie 2.pdf
.gitignore
Cwiczenia/cw1/zadanie 3.pdf
Cwiczenia/cw2/płynność wzory.pdf
.gitignore
Cwiczenia/cw2/płynność finansowa zadania.pdf
Cwiczenia/cw2/Zadanie 1.pdf
Wyklad/analiza sprawności działania.pdf
Wyklad/Istota analizy ekonomiczno-finansowej.pdf
Wyklad/płynność finansowa.pdf
Cwiczenia/cw1/zadanie 1.pdf
Cwiczenia/Wawel Spółka Akcyjna z siedzibą w Krakowie.pdf
Cwiczenia/Panel efektów kształcenia.pdf
Wyklad/zagadnienia do egzaminu.docx
